@{
    ViewBag.Title = "Formulas";
}

@Scripts.Render("~/bundle/formulas")
@Styles.Render("~/bundle/formulasStyles")

<div id="accordion">
    <h3>CURRENCY</h3>
    <div>
        @{
            foreach (var currency in @Model.Rates)
            {
                <div style="width:50%;float:left;">
                    <p>1 @currency.from =</p>
                    <ul>
                        <li>@Math.Round(Double.Parse(currency.rates["BRL"]), 2) Brazilian Reals (R$)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["GBP"]), 2) British Pounds (&pound;)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["CAD"]), 2) Candian Dollars ($)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["CNY"]), 2) Chinese Renminbis (&yen)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["EUR"]), 2) Euros (&euro;)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["INR"]), 2) Indian Rupees (&#8377;)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["ILS"]), 2) Israeli New Shekels (&#8362;)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["JPY"]), 2) Japanese Yens (&yen)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["MXN"]), 2) Mexican Pesos (&#8369;)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["CHF"]), 2) Swiss Francs (CHF)</li>
                        <li>@Math.Round(Double.Parse(currency.rates["USD"]), 2) US Dollars ($)</li>
                    </ul>
                    <br />
                </div>
            }
        }
    </div>
    <h3>LENGTH</h3>
    <div>
        <div style="width:50%;float:left;">
            <p>1 Millimeter =</p>
            <ul>
                <li>0.1 Centimeters</li>
                <li>0.03937 Inches</li>
                <li>0.00328 Feet</li>
                <li>1.001 Meters</li>
                <li>0.000001 Kilometers</li>
                <li>0.00109 Yards</li>
                <li>0.00000062 Miles</li>
            </ul></br>
            <p>1 Centimeter =</p>
            <ul>
                <li>10 Millimeters</li>
                <li>0.3937 Inches</li>
                <li>0.0328 Feet</li>
                <li>0.01 Meters</li>
                <li>0.00001 Kilometers</li>
                <li>0.0109 Yards</li>
                <li>0.0000062 Miles</li>
            </ul></br>
            <p>
                1 Inch =
            </p>
            <ul>
                <li>25.4 Millimeters</li>
                <li>2.54 Centimeters</li>
                <li>0.0833 Feet</li>
                <li>0.0254 Meters</li>
                <li>0.000025 Kilometers</li>
                <li>0.0278 Yards</li>
                <li>0.00001578 Miles</li>
            </ul></br>
            <p>1 Foot =</p>
            <ul>
                <li>304.8 Millimeters</li>
                <li>30.48 Centimeters</li>
                <li>12 Inches</li>
                <li>0.3048 Meters</li>
                <li>0.0003048 Kilometers</li>
                <li>0.3333 Yards</li>
                <li>0.00018939 Miles</li>
            </ul></br>
        </div>
        <div style="width:auto;float:left;">
            <p>1 Meter =</p>
            <ul>
                <li>1000 Millimeters</li>
                <li>100 Centimeters</li>
                <li>39.37 Inches</li>
                <li>3.28 Feet</li>
                <li>0.001 Kilometers</li>
                <li>1.0936 Yards</li>
                <li>0.00062137 Miles</li>
            </ul></br>
            <p>1 Kilometer =</p>
            <ul>
                <li>1000000 Millimeters</li>
                <li>100000 Centimeters</li>
                <li>39370.1 Inches</li>
                <li>3280.84 Feet</li>
                <li>1000 Meter</li>
                <li>1093.61 Yards</li>
                <li>0.62137 Miles</li>
            </ul></br>
            <p>1 Yard =</p>
            <ul>
                <li>914.4 Millimeters</li>
                <li>91.44 Centimeters</li>
                <li>36 Inches</li>
                <li>3 Feet</li>
                <li>.9144 Meter</li>
                <li>0.0009144 Kilometers</li>
                <li>0.00056818 Miles</li>
            </ul></br>
            <p>1 Mile =</p>
            <ul>
                <li>1609344 Millimeters</li>
                <li>160934 Centimeters</li>
                <li>63360 Inches</li>
                <li>5280 Feet</li>
                <li>1609.34 Meters</li>
                <li>1.60934 Kilometers</li>
                <li>1760.0005632 Yards</li>
            </ul></br>
        </div>
    </div>  
    <h3>TEMPERATURE</h3>
    <div>
        <div style="width:50%;float:left;">
            <p>Celcius to Fahrenheit</p>
            <ul>
                <li>&deg;F = &deg;C &lowast; <sup>9</sup>&frasl;<sub>5</sub> + 32</li>
            </ul></br>
            <p>Kelvin to Fahrenheit</p>
            <ul>
                <li>&deg;F = (&deg;K - 273.15) &lowast; <sup>9</sup>&frasl;<sub>5</sub> + 32</li>
            </ul></br>
            <p>Fahrenheit to Celcius</p>
            <ul>
                <li>&deg;C = (&deg;F - 32) &lowast; <sup>5</sup>&frasl;<sub>9</sub></li>
            </ul></br>
        </div>
        <div style="width:50%;float:left;">
            <p>Kelvin to Celcius</p>
            <ul>
                <li>&deg;C = &deg;K - 273.15</li>
            </ul></br>
            <p>Fahrenheit to Kelvin</p>
            <ul>
                <li>&deg;K = (&deg;F - 32) &lowast; <sup>5</sup>&frasl;<sub>9</sub> + 273.15</li>
            </ul></br>
            <p>Celcius to Kelvin</p>
            <ul>
                <li>&deg;K = &deg;C + 273.15</li>
            </ul></br>
        </div>
    </div>
    <h3>TIME</h3>
    <div>
        <div style="width:50%;float:left;">
            <p>1 Day =</p>
            <ul>
                <li>24 Hours</li>
                <li>1440 Minutes</li>
                <li>86400 Seconds</li>
            </ul></br>
            <p>1 Hour =</p>
            <ul>
                <li>0.04167 Days</li>
                <li>60 Minutes</li>
                <li>3600 Seconds</li>
            </ul></br>
        </div>
        <div style="width:50%;float:left;">
            <p>1 Minute =</p>
            <ul>
                <li>0.000694444 Days</li>
                <li>0.0167 Hours</li>
                <li>60 Seconds</li>
            </ul></br>
            <p>1 Second =</p>
            <ul>
                <li>0.000011574 Days</li>
                <li>0.000277778 Hours</li>
                <li>0.0166667 Minutes</li>
            </ul></br>
        </div>
    </div>
    <h3>WEIGHT</h3>
    <div>
        <div style="width:50%;float:left;">
            <p>1 Kilogram =</p>
            <ul>
                <li>2.2 Pounds</li>
                <li>1000 Grams</li>
                <li> 35.3 Ounces</li>
                <li> 0.00110231 Tons </li>
            </ul></br>
            <p>1 Pound =</p>
            <ul>
                <li>0.453592 Kilogram</li>
                <li>453.6 Grams</li>
                <li>16 Ounces</li>
                <li>0.0005 Tons</li>
            </ul></br>
            <p>1 Gram =</p>
            <ul>
                <li>0.001 Kilogram</li>
                <li>0.00220462 Pounds</li>
                <li>0.035274 Ounces</li>
                <li>.000001102 Tons</li>
            </ul></br>
        </div>
        <div style="width:50%;float:left;">
            <p>1 Ounce =</p>
            <ul>
                <li>0.0283495 Kilogram</li>
                <li>0.0625 Pounds</li>
                <li>28.3 Grams</li>
                <li>0.00003125 Tons</li>
            </ul></br>
            <p>1 Ton =</p>
            <ul>
                <li>907.2 Kilograms</li>
                <li>2000 Pounds</li>
                <li>907185 Grams</li>
                <li>32000 Ounces</li>
            </ul></br>
        </div>
    </div>  
</div>

